$primary-color: #007bff;
$secondary-color: #404c5b;

$font-family: "Palette Mosaic", cursive;
$font-color: $primary-color;

$error-color: red;
$error-light-color: rgb(218, 88, 88);

$border-color: lightgrey;

$block-size: 150px;
$bc1: red;
$bc2: green;
$bc3: blue;
$bc4: rgb(247, 0, 255);

$bc1-active: rgb(83, 0, 0);
$bc2-active: rgb(0, 82, 18);
$bc3-active: rgb(0, 25, 168);
$bc4-active: rgb(153, 0, 158);
